<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto1</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, totam! Consequuntur magnam fuga, nisi at
                corrupti soluta autem ipsum non, esse optio atque officiis et qui similique veniam velit explicabo.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner.jpg" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto2</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, totam! Consequuntur magnam fuga, nisi at
                corrupti soluta autem ipsum non, esse optio atque officiis et qui similique veniam velit explicabo.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>