<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem dicta aliquam provident, culpa, modi
                praesentium nesciunt est error alias, reiciendis quis excepturi repellendus. Eaque, impedit! Nam cumque
                corporis consequatur illo?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem dicta aliquam provident, culpa, modi
                praesentium nesciunt est error alias, reiciendis quis excepturi repellendus. Eaque, impedit! Nam cumque
                corporis consequatur illo?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem dicta aliquam provident, culpa, modi
                praesentium nesciunt est error alias, reiciendis quis excepturi repellendus. Eaque, impedit! Nam cumque
                corporis consequatur illo?
            </p>
        </ul>
    </div>
</div>