<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="70" [radius]="100" [imageSrc]="'../assets/html.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="63" [radius]="100" [imageSrc]="'../assets/CSS.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/js.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="58" [radius]="100" [imageSrc]="'../assets/git.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="53" [radius]="100" [imageSrc]="'../assets/ruby.png'" [showImage]="true"
            [imageHeight]="140" [imageWidth]="200" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="38" [radius]="100" [imageSrc]="'../assets/Python.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="100" [radius]="100" [imageSrc]="'../assets/gbst.png'" [showImage]="true"
            [imageHeight]="100" [imageWidth]="130" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="94" [radius]="100" [imageSrc]="'../assets/eng.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="98" [radius]="100" [imageSrc]="'../assets/grupal.png'" [showImage]="true"
            [imageHeight]="80" [imageWidth]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="2500"></circle-progress>
    </div>
</div>